$primary: #27603e;
$bg-primary: rgba(darken($primary, 5%) , .2);
$text-primary: darken($primary, 10%);

:root {
    --treejs-primary: #{$primary};
    --treejs-bg-primary: #{$bg-primary};
    --treejs-text-primary: #{$text-primary};
}