$primary: #27603e;
$bg-primary: darken($primary, 15%);
$text-primary: lighten($primary, 40%);

:root {
    --treejs-primary: #{$primary};
    --treejs-bg-primary: #{$bg-primary};
    --treejs-text-primary: #{$text-primary};
}