@use 'reset' as *;
@use 'variables' as *;

.#{$prefix} {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  list-style: none;
  font-size: 1rem;
  position: relative;

  .#{$prefix}-ul {
    position: relative;
    &.path::before {
      position: absolute;
      content: '';
      left: 10px;
      top: 0;
      width: 2px;
      height: 75%;
      background-color: transparent;
      border-left: dashed 1px #c2c2c2;
      border-bottom: dashed 1px #c2c2c2;
    }
  }

  .#{$prefix}-li {
    margin-top: 0.3rem;

    .#{$prefix}-anchor-wrapper {
      display: flex;
      align-items: center;
      text-decoration: none;

      .#{$prefix}-anchor {
        text-decoration: none;
        transition: background-color 0.2s ease;
        padding: 0.15rem;
        border-radius: 0.2rem;

        &:active {
          color: var(--#{$prefix}-text-primary) !important;
        }

        &:hover,
        &:focus {
          background-color: var(--#{$prefix}-bg-primary) !important;
          color: var(--#{$prefix}-text-primary) !important;
        }
        &:focus {
          outline: 2px solid var(--#{$prefix}-primary);
        }
      }
    }

    &.has-children {
      &.show > .#{$prefix}-anchor-wrapper .#{$prefix}-anchor {
        background-color: $bg-primary-selected;
        color: inherit;
      }

      .#{$prefix}-child {
        padding-left: 1rem;
        overflow: hidden;
      }

      &.hide > .#{$prefix}-child {
        display: none;
      }

      &.show > .#{$prefix}-child {
        display: block;
        padding-bottom: 0.4rem;
        padding-right: 0.4rem;
      }

      .#{$prefix}-icon-chevron {
        margin-left: 0.3rem;
      }
      .#{$prefix}-icon-chevron svg {
        transition: transform 0.4s ease;
      }

      &.hide > .#{$prefix}-anchor-wrapper .#{$prefix}-icon-chevron svg {
        transform: rotate(0);
      }
      &.show > .#{$prefix}-anchor-wrapper .#{$prefix}-icon-chevron svg {
        transform: rotate(180deg);
      }
    }
  }

  .#{$prefix}-icon {
    margin-right: 0.2rem;
    display: inline;
  }
}
